<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#">
        <label for="">user id</label>
        <input type="text" name="" id=""><br>
        <label for="">patient name</label>
        <input type="text" name="" id=""><br>
        <label for="">visit reason</label>
        <input type="text" name="" id=""><br>
        <label for="">Diagnosis</label>
        <input type="text" name="" id=""><br>
        <label for="">Medicine</label>
        <input type="text" name="" id="" placeholder="medicine">
        <input type="text" name="" id="" placeholder="dose">
        <input type="text" name="" id="" placeholder="In take per day"><br>
        <label for="">Remarks</label>
        <input type="text" name="" id=""><br>
        <button type="submit">Confirm</button>
    </form>
</body>
</html>