{% extends 'doctor/doc-dashboard.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Post Page</title>
    
</head>
{% block body %}
<body>
    <div class="container">
        <div class="main">
            <center>
                {% if messages %}
                <div class="message-container">
                    {% for message in messages %}
                    <b><div class="alert alert-success fade-out" style="color: rgb(33, 183, 33);font-size: 1.5rem;">{{ message }}</div></b>
                    {% endfor %}
                </div>
                {% endif %}
                </center>
            <div class="post">
               <table border="1">
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Content</th>
                    <th>File</th>
                </tr>
                {% for i in obj %}
                <tr>
                    <td>{{i.title}}</td>
                    <td>{{i.category}}</td>
                    <td>{{i.content}}</td>
                    {% if i.filepost %}
                    <td><img src="{{i.filepost.url}}" alt="error" width="60" height="60"></td>
                    {% else %}
                    <td>No file</td>
                    {% endif %}
                </tr>
                {% endfor %}
               </table>      
            </div>
        </div>
        <br><br>
        <footer class="foot">
            <nav>
                <a href="/docaddpost">Create</a>
            </nav>
        </footer>
        
    </div>

    <script>
        setTimeout(function() {
            let alerts = document.querySelectorAll('.alert');
            alerts.forEach(alert => alert.style.display = 'none');
        }, 3000); // Message disappears after 3 seconds
    </script>
</body>
{% endblock %}
</html>
