<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="post">
                <div class="box">
                    <span class="post-publisher"></span>
                    <span class="post-publish-datetime"></span>
                    <div class="post-content"></div>
                </div>       
            </div>
        </div>
        <footer class="foot">
            <nav>
                <div class="my-posts">
                    My Posts
                </div>
                <div class="create-post">
                    Create
                </div>
            </nav>
        </footer>
    </div>
</body>
</html>