{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/doc-css/doc-dashboard.css' %}" type="text/css"> 
    <link rel="stylesheet" href="{% static 'styles/doc-css/add-prescription.css' %}" type="text/css"> 
    <script>
        $(document).ready(function() {
            $("#search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".nav-items").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>
    

    <title>Dashboard</title>
    
<body>
    <div class="header">
        <div class="name">Predictive Health</div>
        <div class="search-bar">
            <input type="text" name="" id="search" placeholder="Search...">
        </div>
        <div class="profile">
            <img src="{% static 'images/profile-icon.png' %}" alt="Profile" class="profile-pic">
        </div>
    </div>
    <div class="main-content">
        <nav class="nav" style="background-color: #a6cff9;">
            <ul class="main">
                <li class="nav-items nav-item1">
                    <a href="/docdash" class="item1">Dashboard</a>
                </li>
                <li class="nav-items nav-item2">
                    <a href="/docviewappointment" class="item1">Appointments</a>
                </li>
                <li class="nav-items nav-item3">
                    <a href="/docposts" class="item2">Posts</a>
                </li>
                <li class="nav-items nav-item4">
                    <a href="/docaddslot" class="item3">Slots</a>
                </li>
                <li class="nav-items nav-item5">
                    <a href="/docsendnotification" class="item4">Notifications</a>
                </li>
                <li class="nav-items nav-item6">
                    <a href="/" class="item5">Logout</a>
                </li>
            </ul>
        </nav>
        <div class="main-con" style="background: linear-gradient(to right, #79a6d3, #ffffff);">
            {% block body %}

            {% endblock %}
        </div>
    </div>
</body>
</html>
