<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <form action="#" id="frm">
            <label for="">Patient Id </label>
            <input type="text" name="" id=""><br>
            <label for="">Patient Name </label>
            <input type="text" name="" id=""><br>
            <label for="">Content </label>
            <input type="text" name="" id=""><br>
            <label for="">Attachement </label>
            <input type="file" name="" id=""><br>
            <button type="submit">Send</button>
        </form>
    </div>
</body>
</html>