<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="header">
    <div class="name"></div>
    <div class="search-bar">
        <input type="text" name="" id="search">
    </div>
    <div class="profile"></div>
   </div>
   <div class="main-content">
    <nav class="nav">
        <ul class="main">
            <li class="nav-items nav-item1">
                <a href="#" class="item1">Appointments</a>
            </li>
            <li class="nav-items nav-item2">
                <a href="#" class="item2">Prescriptions</a>
            </li>
            <li class="nav-items nav-item3">
                <a href="#" class="item3">Notifications</a>
            </li>
            <li class="nav-items nav-item4">
                <a href="#" class="item4">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="main-con">

    </div>
   </div>
</body>
</html>