{% extends 'doctor/doc-dashboard.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <div class="main">
        <div class="noti">
            <table border="1">
                <tr>
                    <th>Patient</th>
                    <th>Content</th>
                    <th>File</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div><br><br>
        <form action="" method="post" id="frm" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="">Patient Name </label>
            <select name="p_id" id="">
                {% for i in obj %}
                <option value="{{i.USERID.id}}">{{i.USERID.firstname}} {{i.USERID.lastname}}</option>
                {% endfor %}
            </select>
            <label for="">Content </label>
            <input type="text" name="content" id=""><br>
            <label for="attachement">Attachement </label>
            <input type="file" name="attachement" id="file"><br>
            <button type="submit">Send</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>