{% extends 'doctor/doc-dashboard.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        {% block body %}
        <table border="1">
            <tr>
                <th>patient name</th>
                <th>Visit reason</th>
                <th>diagnosis</th>
                <th>medicine </th>
                <th>medicine dose</th>
                <th>in take per day</th>
                <th>issued date</th>
                <th>exp date</th>
                <th>remarks</th>
            </tr>
            {% for i in obj%}
            <tr>
                <td>{{i.APPOINTMENTID.patient_name}}</td>
                <td>{{i.APPOINTMENTID.visitReason}}</td>
                <td>{{i.diagnosis}}</td>
                <td>{{i.medicine_name}}</td>
                <td>{{i.medicine_dosage}}</td>
                <td>{{i.medicine_itd}}</td>
                <td>{{i.issueddate}}</td>
                <td>{{i.expirydate}}</td>
                <td>{{i.remark}}</td>
                
            </tr>
            {% endfor %}
        </table>
        {% endblock %}
    </form>
</body>
</html>