{% extends 'doctor/doc-dashboard.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Appointments</title>
    
</head>
<body>
    <form action="#">
        <div>
            {% block body %}
            <table border="1">
                <tr>
                    <th>Patient Name</th>
                    <th>Visit reason</th>
                    <th>Date</th>
                    <th>Time</th>
                    <td></td>
                </tr>
                {% for i in obj %}
                <tr>
                    <td>{{i.patient_name}}</td>
                    <td>{{i.visitReason}}</td>
                    <td>{{i.APPOINTMENTDATE}}</td>
                    <td>{{i.APPOINTMENTTIME}}</td>
                    <td><a href="/addprescription/{{i.id}}">Add prescription</a><br><br><a href="/viewprescription/{{i.id}}">View prescription</a></td>
                </tr>
                {% endfor %}
            </table>
                
            {% endblock %}
        </div>
    </form>
</body>
</html>
