<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#">
        <div><button>logout</button></div>
        <div>
            <table>
                <tr>
                    <th>id</th>
                    <th>patient name</th>
                    <th>date</th>
                    <th>time</th>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>