{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Dashboard</title>
    <link rel="stylesheet" href="{% static 'styles/admini-css/administrator.css' %}" type="text/css"> 
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="user-info">
                <h1>Admin</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/viewdoctors" >Doctors</a></li>
                    <li><a href="/viewappointment">Appointments</a></li>
                    <li><a href="/" class="logout-btn">Logout</a></li>
                </ul>
            </nav>
        </aside>
        <!-- Main Content -->
        <main id="main">
            {% block body %}
            
            {% endblock %}
        </main>
    </div>
</body>
</html>