            <!-- Header -->
{% extends 'administrator/admin-dashboard.html' %}  
{% block body %}           
            <header>
                <h1>Predictive Healthcare</h1>
                <div id="date"></div>
            </header>

            <!-- Overview Cards -->
            <section class="cards-overview">
                <div class="card">
                    <h3>{{ doc_count }}</h3>
                    <p>Doctors</p>
                </div>
                <div class="card">
                    <h3>{{ patient_count }}</h3>
                    <p>Patients</p>
                </div>
                <div class="card">
                    <h3>{{ patient_count }}</h3>
                    <p>Appointments</p>
                </div>
                
            </section>

            <!-- Charts -->
            <section class="charts">
                <div class="chart" id="patients-overview">
                    <h3>Patients Overview</h3>
                    <canvas id="pieChart"></canvas>
                </div>
                <div class="chart" id="daily-patients">
                    <h3>Daily Patients</h3>
                    <canvas id="barChart"></canvas>
                </div>
            </section>
            <script>
                function updateDate() {
                    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                    const today = new Date().toLocaleDateString('en-US', options);
                    document.getElementById('date').innerText = today;
                }
                updateDate();
            </script>
{% endblock %}
