<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#">
        <label for="">Doctor name </label>
        <input type="text"><br>
        <label for="">Department</label>
        <select name="" id="">
            <option value="" selected disabled>--select a Department--</option>
            <option value="">Cardiology</option>
            <option value="">Orthopedics</option>
            <option value="">ENT</option>
            <option value="">Neurology</option>
            <option value="">Physiotherapy</option>
        </select> <br>
        <label for="">Qualification</label>
        <input type="text" name="" id=""><br>
        <label for="">Phone number</label>
        <input type="text" name="" id=""><br>
        <label for="">Hospital</label>
        <input type="text" name="" id=""><br>
        <label for="">image</label>
        <input type="file" name="" id=""><br>
        <label for="">Username</label>
        <input type="text"><br>
        <label for="">Password</label>
        <input type="password" name="" id=""><br>
        <button type="">edit</button>

    </form>
</body>
</html>