{% extends 'administrator/admin-dashboard.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="view-doc">
        {% block body %}
        <table border="1">
            <tr>
                <th>id</th>
                <th>doctor name</th>
                <th>Qualification</th>
                <th>department</th>
                <th>manage</th>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        </table>
        <button>add doctor</button>
        {% endblock %}
    </div> 
</body>
</html>