{% extends 'administrator/admin-dashboard.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    {% block body %}
    <div class="appointment-container">
        <h2 class="title">Doctor Appointments</h2>
    
        <div class="responsive-table-container">
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Doctor Name</th>
                        <th>Patient Name</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in obj %}
                    <tr>
                        <td>{{ i.DOCTORID.Name }}</td>
                        <td>{{ i.USERID.firstname }} {{ i.USERID.lastname }}</td>
                        <td>{{ i.APPOINTMENTDATE }}</td>
                        <td>{{ i.APPOINTMENTTIME }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    {% endblock %}     
</body>
</html>