{% extends 'administrator/admin-dashboard.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
<div class="header">
    <button type="">logout</button>
</div>
<div>
    {% block body %}
    <table border="1">
        <tr>
            <th>doctor name</th>
            <th>patient name</th>
            <th>date</th>
            <th>time</th>
        </tr>
        {% for i in obj %}
        <tr>
            <td>{{i.DOCTORID.Name}}</td>
        <td>{{i.USERID.firstname}} {{i.USERID.lastname}}</td>
            <td>{{i.APPOINTMENTDATE}}</td>
            <td>{{i.APPOINTMENTTIME}}</td>
        </tr>
       {% endfor %}
    </table>
    {% endblock %}
</div>     
</body>
</html>