<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
<div class="header">
    <button type="">logout</button>
</div>
<div>
    <table border="1">
        <tr>
            <th>id</th>
            <th>doctor name</th>
            <th>patient name</th>
            <th>date</th>
            <th>time</th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
    </table>
</div>     
</body>
</html>